- unless @epicenter.can_accept_members?
  .alert.alert-danger
    .container
      %i.fa.fa-exclamation-circle.space-right-sm
      Epicenteret kan endnu ikke modtage medlemmer
      - unless @epicenter.fruittype.present?
        %span.label.label-default Frugttype ikke oprettet
      - unless @epicenter.memberships.present?
        %span.label.label-default Ingen medlemskaber
      - unless @epicenter.all_caretakers_are_members?
        %span.label.label-default Ikke alle caretakers er medlem


= render layout: "edit_epicenter" do

  / Tab panes
  .tab-content
    #about.tab-pane.active{:role => "tabpanel"} 
      .well
        - if @epicenter.description.present?
          = @epicenter.description
        - else
          Du mangler at give en beskrivelse af epicenteret

      %hr/
      - if @epicenter.fruittype.present?
        %i.fa.fa-check.space-right 
        %strong= @epicenter.fruittype.name
        frugttype oprettet
      - else
        %i.fa.fa-ban.space-right 
        Ingen frugttype oprettet
        
      %hr/
      - if @epicenter.memberships.present?
        %i.fa.fa-check.space-right 
        Medlemsskaber oprettet
      - else
        %i.fa.fa-ban.space-right
        Ingen medlemsskaber oprettet
      
      %hr/
      - if @epicenter.all_caretakers_are_members?
        %i.fa.fa-check.space-right 
        Alle caretakers er medlemmer
      - else
        %i.fa.fa-ban.space-right
        Ikke alle caretakers er medlemmer
      %hr/
      %a.btn.btn-info{"aria-controls" => "settings", "data-toggle" => "tab", :href => "#settings", :role => "tab"} Ret oplysninger
      

    #settings.tab-pane{:role => "tabpanel"}
      = render :partial => "form"
      %a{"aria-controls" => "about", "data-toggle" => "tab", :href => "#about", :role => "tab"}
        Tilbage