.container
  %h1= @epicenter.name
  
  %p
    %strong Medlemmer
    = @memberships.count

  .row
    - if @epicenter.can_accept_members?
      - for membership in @memberships
        .col-md-4
          .well
            = membership.name
            = render partial: 'form', locals: {membership: membership}
    - else
      .col-md-12
        %p Dette epicenter kan endnu ikke modtage medlemmer