.container
  %h1= @epicenter.name
  
  = @memberships.count

  .row
    - for membership in @memberships
      .col-md-4
        .well
          = membership.name
          = render partial: 'form', locals: {membership: membership}