@import "bootstrap-sprockets"
@import "bootstrap"

@import "1st_load_framework"

@import "font-awesome-sprockets"
@import "font-awesome"

@import "epicenters"
@import "pages"

.btn, .nav-pills > li > a, .well, .alert
  border-radius: 0

.container.top
  padding-top: 20px

.space-left
  margin-left: 15px
.space-right
  margin-right: 15px

.header
  margin-top: 0