.grey
	color: darken(white, 40)

$ncm-primary: #D95D33
$ncm-info: lighten($ncm-primary, 40)

.bg-ncm-primary
	background: $ncm-primary
.bg-ncm-info
	background: $ncm-info

.ncm-primary
	color: $ncm-primary
.ncm-info
	color: $ncm-info

.timestamp
	font-size: 10px
	color: grey

.table-log
	tr
		font-size: 11px
		line-height: 13px

.stat-number

	float: right
	text-align: center
	.stat-number-digit
		float: left
		width: 10px
		text-align: center
		padding: 2px 4px
		margin-left: 3px
		font-size: 20px
		min-width: 20px
		width: 20px	
		color: white
		background: darken($ncm-primary, 30)
		border-radius: 3px